@charset "UTF-8";

#navbar li {
	color: black;
	font-weight: bold;
	font-style: none;
	text-decoration: none;
} 

.nav-link active:hover {
	color: skyblue;
} 

img {
	width: 65%;
	display: block;
	margin: auto;
}

#caption > a{
	color: lightgrey;
	font-style: none;
}

body a {
	color: black;
}